* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 45%;
    height: 50vh;
    margin: 90px auto;
    text-align: center;
   
}

.card {
    background: linear-gradient(rgba(25, 1, 1, 0.8), rgba(98, 3, 3, 0.904)), url(../img/images.png);
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    border-radius: 40px;
    box-shadow: 3px 3px 12px 2px #000;
}

.card p {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #fff;
}

.card-body h3 {
    font-size: 22px;
    padding: 10px 0;
    color: #fff;
}

.me{
    color: #00FFFF;
}

.circle {
    background: #fff;
    height: 200px;
    width: 200px;
}

@media (max-width: 426px) {
    .container{
        width: 90%;
    }

    .card{
        padding: 50px 20px;
    }

    .card p{
        font-size: 17px;
    }
    .card-body h3 {
        font-size: 20px;
    }
}

@media (min-width: 427px) and (max-width: 769px) {
    .container{
        width: 80%;
        padding-top: 80px;
    }
}